html, body {
	width: 300px;
	height: 200px;
	overflow: hidden;
}

h3 {
	text-align: center;
}

li {
	list-style: none;
	width: 200px;
	background: #dcdcdc;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

li:hover {
	background: #d5d5d5;
	cursor:pointer;
}

img {
	height: 19px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
